* {
  box-sizing: border-box;
}

body {
  background-color: #222020;
}

a{
  text-decoration: none;
}

::placeholder {
  align-items: center;
  opacity: 1;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(58, 58, 58);
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

