.cardwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
}


.maincontent {
  width: 90%;
  margin: 0px 30px 0px 210px;
}

.myCard {
  background-color: #272525;
  width: 18rem;
  height: 18rem;
  border-radius: 4%;
  margin: 10px;
  overflow: hidden;
  border: solid #1d1b1b
}

.myCard:hover {
  transform: scale(1.01);
  transition: 0.05s;
  z-index: 2;
}

.thumbnail {
  text-align: center;
  background-color: #302f2f;
  height: 150px;
  margin: 10px 7px 5px 7px;
  border-radius: 10px;
}

.title {
  color: #d1d5dd;
  margin-left: 7px;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: bold;
  padding-right: 20px;

}

.tagwrapper {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  color: aliceblue;
  font-size: smaller;
  margin: 2px 5px 2px 5px;
  border-radius: 8px;
  padding-right: 20px;
  font-weight: 150;
  font-family: serif;
}

.channelname {
  color: #959595;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 2px;
  font-size: 10px;
  font-weight: 8;
  word-break: break-word;
  padding-right: 10px;
}

.channelname:hover {
  color: #d1d5dd;
}


.column {
  float: right;
  width: 88%;
  margin-top: 10px;
}

.cardcolumn {
  display: flex;
  flex-wrap: nowrap;
}

.channellogo {
  height: 37px;
  width: 37px;
  border-radius: 20px;
  margin-left: 8px;
}

.columndetail {
  display: flex;
  flex-wrap: wrap;
  width: 16rem;
}

.videosrc {
  border-radius: 10px;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  width: 100%
}

.Previous {
  height: 30px;
  width: 70px;
  border-radius: 15px;
  background-color: gray;
  border: solid black;
  font-size: 14px;
  font-weight: 490;
  color: black;
  margin: 5px
}

.Next {
  height: 30px;
  width: 70px;
  border-radius: 15px;
  background-color: gray;
  border: solid black;
  font-size: 14px;
  font-weight: 490;
  color: black;
  margin: 5px;
}

.Next:not(:disabled):hover,
.Previous:not(:disabled):hover {
  transform: scale(1.05);
  transition: 0.05s;
}


button:disabled,
button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.buttoncontainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
}

.categorybuttoncontainer {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-evenly;
  width: 85%;
}

.yourProfile {
  color: azure;
  margin-left: 25px;
  margin-bottom: 0px;
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
}

.userProfile {
  color: #d1d5dd;
  margin-left: 25px;
  margin-bottom: 0px;
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.block{
  display: none;
}

.userchannellogo {
  height: 37px;
  width: 37px;
  border-radius: 20px;
  margin-left: 8px;
  margin-right: 20px;
}

.userchannelname{
  margin-bottom: 10px;
}