.navbar {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 12%;
  overflow-y: scroll;
  height: 100vh;
  background-color: #181818;
}

.navbarItem {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: aliceblue;
  border: solid #222020;
  background-color: rgb(53, 52, 52);
  border-radius: 7px;
  margin-bottom: 1px;
  font-size: 15px;
}

.navbar::-webkit-scrollbar {
  display: none;
}
.categoryicon{
  height:30px;
  width: 30px;
  margin-right: 20px;
  margin-left: 5px;
}

.navbarItemSelect{
  background-color: #7c7c7c;
}